.enemyAvatar {
    position: absolute;
    transform: translate3d(36px, -177px, -347px);
    width: 223px;

    img {
        width: 100%;
    }
}

        .textBox {
            height: 11em;
            overflow: hidden;
            transform: translate3d(70px, -252px, -348px);
            max-width: 15em;
            width: 9em;
            display: flex;
            flex-direction: column;
            align-items: center;
         
            p {
                font-size: 2.2rem;
                font-weight: 600;
                text-shadow: 0 0 0.1em #000;
                letter-spacing: 0.3rem;
                transform: translateY(-50%);
                position: absolute;
                top: 50%;
            }

            .combatScrollAnimation {
                animation: scrolling-combat-text 2s ease-out forwards;

                @keyframes scrolling-combat-text {
                    from {
                        opacity: 1;
                        top: 50%;
                    }
                    to {
                        top: 0;
                        opacity: 0;
                    }
                }
            }

            .combatScrollPlayer {
                color: yellow;
            }

            .combatScrollEnemy {
                color: red;
            }

        }

        .enemyName {
            position: absolute;
            left: 50%;
            top: 37%;
            transform: translate(-50%, -50%);
            font-size: 2.4rem;
            text-shadow: 0 0 0.1em #000;
        }

        .enemyHp {
            position: absolute;
            left: 50%;
            top: 42%;
            transform: translate(-50%, -50%);
            font-size: 1.4rem;
            text-shadow: 0 0 0.1em #000;
        }

        

        .enemyAttackAnimation {
            filter: contrast(0.5);
            animation: enemyAttack 0.5s;
        }

        @keyframes enemyAttack {
            to {
                max-width: 45em;
            }
        }

.enemyHealth-bar {
    box-sizing: border-box;
    width: 163px;
    height: 1.5em;
    padding: 0.2em;
    background-color: rgba(221, 221, 221, 0.478);
    position: absolute;
    transform: translate3d(61px, -365px, -391px);

    .enemyHealth {
        position: absolute;
        top: 0.2em;
        left: 50%;
        transform: translateX(-50%);
        color: rgb(255, 255, 255);
        text-shadow: 0 0 2px #000;
        font-weight: 600;
    }

    .enemyBar {
        background: #c54;
        width: 100%;
        height: 18px;
        position: relative;
        transition: width .5s linear;

        .enemyHit {
            background: rgba(255,255,255,0.6);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 0px;
            transition: width .5s linear;
        }
    }
}