.enemyAvatar {
    position: absolute;
    transform: translate3d(36px, -177px, -347px);
    width: 223px;

    img {
        width: 100%;
    }
}

.enemyContainer{
        display:flex;
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
    
        .textBox {
            position: absolute;
            top: 0;
            left: 50%;
            max-height: 50%;
            height: 100%;
            transform: translateX(-50%);
            z-index: 1;
            max-width: 15em;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
         
            p {
                font-size: 2.2rem;
                font-weight: 600;
                text-shadow: 0 0 0.1em #000;
                letter-spacing: 0.3rem;
                transform: translateY(-50%);
                position: absolute;
                top: 50%;
            }

            .combatScrollAnimation {
                animation: scrolling-combat-text 2s ease-out forwards;

                @keyframes scrolling-combat-text {
                    from {
                        opacity: 1;
                        top: 50%;
                    }
                    to {
                        top: 0;
                        opacity: 0;
                    }
                }
            }

            .combatScrollPlayer {
                color: yellow;
            }

            .combatScrollEnemy {
                color: red;
            }

        }

        

        .enemyName {
            position: absolute;
            left: 50%;
            top: 37%;
            transform: translate(-50%, -50%);
            font-size: 2.4rem;
            text-shadow: 0 0 0.1em #000;
        }

        .enemyHp {
            position: absolute;
            left: 50%;
            top: 42%;
            transform: translate(-50%, -50%);
            font-size: 1.4rem;
            text-shadow: 0 0 0.1em #000;
        }

        .enemyBtn {
            display: flex;
            justify-content: center;
            position: absolute;
            left: 50%;
            bottom: 8%;
            gap: 1em;
            transform: translate(-50%, -50%);
            font-size: 1.4rem;
            text-shadow: 0 0 0.1em #000;

            button {
                max-width: 10em;
                width: 100%;
                background-color: rgb(56, 46, 46);
                border: 0.3em solid #ffffff;
                border-radius: 0.5em;
                padding: 1em;
                color: #fff;
                letter-spacing: 0.1rem;
                box-shadow: 0 0 1em 0.5em #0000005e;
            
                &:hover {
                    background-color: rgb(46, 43, 43);
                    cursor: pointer;
                } 

            }
        }

        .enemyAttackAnimation {
            filter: contrast(0.5);
            animation: enemyAttack 0.5s;
        }

        @keyframes enemyAttack {
            to {
                max-width: 45em;
            }
        }

    }