.menuContainer {
    background-color: rgba(0, 0, 0, 0.502);
    background-image: url('/shared/assets/images/texture/dirt.png'), linear-gradient(0deg, rgba(21, 11, 11, 0.8) 0%, rgb(55, 54, 54) 50%, rgba(0, 0, 0, 0.8) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    left: 3em;
    right: 3em;
    top: 0;
    bottom: 0;
    max-width: 25em;
    display: flex;
    border-left: 5px double rgba(77, 77, 77, 0.4);
    border-right: 5px double rgba(77, 77, 77, 0.4);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em 1em;
    gap: 2em;

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        .logo {
            width: 4em;
            height: auto;
        }

        h1 {
            margin: 0;
            text-shadow: 0 0 0.1em rgb(0 0 0);
            font-size: 2.5rem;
            width: fit-content;
            font-family: "Astloch", cursive;
            font-weight: normal;
        }  
    }
    
    .buttonList {
        display: flex;
        gap: 1em;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
    }

}

.boxMenuContainer {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    background-color: rgba(0, 0, 0, 0.502);
    background-image: url('/shared/assets/images/texture/dirt.png'), linear-gradient(0deg, rgba(21, 11, 11, 0.8) 0%, rgb(55, 54, 54) 50%, rgba(0, 0, 0, 0.8) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    left: 29em;
    right: 3em;
    top: 0;
    bottom: 0;
    border-left: 5px double rgba(77, 77, 77, 0.4);
    border-right: 5px double rgba(77, 77, 77, 0.4);
    align-items: center;
    padding: 2em 1em;
    gap: 2em;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;

    .list {
        width: 100%;
        display: flex;
        gap: 0.5em;
        flex-direction: column;

        .createWindow {
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            overflow: hidden;
            gap: 1em;

            label {
                font-size: 1.2rem;
                font-weight: 600;
                color: #fff;
                margin: 0 0 0 -17.5em;
            }

            input {
                padding: 0.5em;
                max-width: 25em;
                width: 100%;
                background-color: rgb(56, 46, 46);
                background-image: url('/shared/assets/images/texture/overlay.png'), linear-gradient(0deg, rgba(21, 11, 11, 0.8) 0%, rgb(55, 54, 54) 50%, rgba(0, 0, 0, 0.8) 100%);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border: 0.4em double #626262;
                border-radius: 0.5em;
                color: #fff;
                letter-spacing: 0.1rem;
            }

            .avatars {
                display:flex;
                gap: 1em;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                margin: 2em;

                .button {
                    padding: 0.5em;
                    max-width: 25em;
                    width: 100%;
                    background-color: rgb(56, 46, 46);
                    background-image: url('/shared/assets/images/texture/overlay.png'), linear-gradient(0deg, rgba(21, 11, 11, 0.8) 0%, rgb(55, 54, 54) 50%, rgba(0, 0, 0, 0.8) 100%);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: 0.4em double #626262;
                    border-radius: 0.5em;
                    color: #fff;
                    letter-spacing: 0.1rem;
                    position: relative;
                    width: 6em;
                    height: 6em;
                    overflow: hidden;

                    &:hover {  
                        border: 0.4em double #acbac3;
                    }

                }

                img {
                    width: 13em;
                }
            }

            .stats{
                display: flex;
                flex-direction: column;
                max-width: 25em;
                width: 100%;
                gap: 1em;
                color: #fff;
             
                .btnSection {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1em;
                }

                .gainBtn {
                    width: 2em;
                    height: 2em;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background-color: rgba(154, 154, 154, 0.486);
                    }
                }

            }
        }

        .character{
            font-family: "Astloch", cursive;
            letter-spacing: 0.1em;
            background-image: url('/shared/assets/images/texture/overlay.png'), linear-gradient(0deg, rgba(21, 11, 11, 0.8) 0%, rgb(55, 54, 54) 50%, rgba(0, 0, 0, 0.8) 100%);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 6em;
            color: #fff;
            display: flex;
            flex-direction: column;
            border: 0.6em double #626262;
            border-radius: 0.3em;
            position: relative;
            overflow: hidden;
            justify-content: center;

            .levelTitle {
                font-size: 0.85rem;
            }

            &:hover {
                border: 0.6em double #acbac3;
            }

            h2 {
                margin:0;
                margin-left: 0.3em;
            }

            p {
                margin:0;
                margin-left: 0.5em;
            }

            img {
                width: 20em;
                position: absolute;
                right: -5.5em;
                top: -1.2em;
                opacity: 0.6;
            }
        }
    }
}

.chooseAvatar {
    box-shadow: 0 0 2em #000;
}