.createWindow {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            align-items: center;
            flex-direction: column;
            position: relative;
            overflow: hidden;
            gap: 1em;

            label {
                font-size: 1.2rem;
                font-weight: 600;
                color: #fff;
                margin: 0 0 0 -17.5em;
            }

            input {
                padding: 0.5em;
                max-width: 25em;
                width: 100%;
                background-color: rgb(56, 46, 46);
                background-image: url('/shared/assets/images/texture/overlay.png'), linear-gradient(0deg, rgba(21, 11, 11, 0.8) 0%, rgb(55, 54, 54) 50%, rgba(0, 0, 0, 0.8) 100%);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border: 0.4em double #626262;
                border-radius: 0.5em;
                color: #fff;
                letter-spacing: 0.1rem;
            }

            .avatars {
                display:flex;
                gap: 1em;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                margin: 2em;

                .button {
                    padding: 0.5em;
                    max-width: 25em;
                    width: 100%;
                    background-color: rgb(56, 46, 46);
                    background-image: url('/shared/assets/images/texture/overlay.png'), linear-gradient(0deg, rgba(21, 11, 11, 0.8) 0%, rgb(55, 54, 54) 50%, rgba(0, 0, 0, 0.8) 100%);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: 0.4em double #626262;
                    border-radius: 0.5em;
                    color: #fff;
                    letter-spacing: 0.1rem;
                    position: relative;
                    width: 6em;
                    height: 6em;
                    overflow: hidden;

                    &:hover {  
                        border: 0.4em double #acbac3;
                    }

                }

                img {
                    width: 13em;
                }
            }

            .statsContainer{
                grid-area: 1 / 1 / 1 / 5;
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 3em;
                color: #fff;

                .pointsContainer {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5em;
                }
            }
        }

.chooseAvatar {
    box-shadow: 0 0 3em -0.5em #f9f9f9;
    border: 0.4em double #acbac3 !important;
}