.interface {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    box-shadow: inset 0 0 30em 2em #000;
    user-select: none;

    .avatar {
        max-width: 6em;
        width: 100%;
        max-height: 6em;
        background-color: #000;
        border-radius: 50%;
        overflow: hidden;
        border: 0.1em solid #fff;
        box-shadow: 0 0 1em 0.5em rgb(0 0 0 / 50%);
        position: absolute;
        left: 0.5em;
        top: 1.2em;

        img {
            width: 100%;
        }
    }

    .heroName {
        background-color: saddlebrown;
        padding: 0.2em 1em;
        position: absolute;
        border: 1px solid #fff;
        left: 4em;
        top: 1em;
        width: 10.05em;
        text-align: center;
        z-index: -1;
        border-top-right-radius: 0.5em;
        border-top-left-radius: 0.5em;
    }

    .level {
        position: absolute;
        left: 0.3em;
        top: 0.3em;
        background-color: #000;
        border: 1px solid #fff;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
    }

    .coords {
        position: absolute;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
    }

    .stats {
        display: flex;
        gap: 1em;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .playerShield {
        width: 732px;
        position: absolute;
        bottom: -45em;
        left: 35%;
        transform: translate(-50%, 0) rotate(8deg);
        z-index: 2;
        animation: shieldAnimation 4s ease-in-out infinite;

        img {
            width: 100%;
        }

        @keyframes shieldAnimation {
            0% {
                transform: translate(-50%, 0) rotate(8deg);
            }

            50% {
                transform: translate(-50%, 0) rotate(7deg);
            }

            100% {
                transform: translate(-50%, 0) rotate(8deg);
            }

        }

    }

    .playerWeapon {
        width: 732px;
        position: absolute;
        bottom: -2em;
        left: 84%;
        transform: translate(-50%, 0) rotate(-88deg);
        z-index: 2;
        animation: weaponAnimation 3s ease-in-out infinite;

        img {
            width: 100%;
        }

        @keyframes weaponAnimation {
            0% {
                transform: translate(-50%, 0) rotate(-88deg);
            }

            50% {
                transform: translate(-50%, 0) rotate(-87deg);
            }

            100% {
                transform: translate(-50%, 0) rotate(-88deg);
            }

        }

    }

    .swing {
        animation: swing 0.5s ease-in-out;

        @keyframes swing {
            0% {
                transform: translate(-50%, 0) rotate(-88deg);
            }

            25% {
                transform: translate(-50%, 0) rotate(-51deg);
            }

            50% {
                transform: translate(-50%, 0) rotate(-103deg);
            }

            100% {
                transform: translate(-50%, 0) rotate(-88deg);
            }
        }
    }

    .block {
        animation: block 0.5s ease-in-out forwards;

        @keyframes block {
            to {
                bottom: -36em;
                left: 50%;
                transform: translate(-50%, 0) rotate(0);
            }

        }
    }

    .enemyBtn {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: 8%;
        gap: 1em;
        transform: translate(-50%, -50%);
        font-size: 1.4rem;
        text-shadow: 0 0 0.1em #000;

        button {
            max-width: 10em;
            width: 100%;
            background-color: rgb(56, 46, 46);
            border: 0.3em solid #ffffff;
            border-radius: 0.5em;
            padding: 1em;
            color: #fff;
            letter-spacing: 0.1rem;
            box-shadow: 0 0 1em 0.5em #0000005e;

            &:hover {
                background-color: rgb(46, 43, 43);
                cursor: pointer;
            }

        }
    }
}