.value {
    top: 0.2em;
    left: 50%;
    transform: translateX(-50%);
}

.transition {
    transition: width .5s linear;
}

.bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.356) 0%, rgb(29, 27, 27) 100%);
}