
.btnSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.gainBtn {
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgba(154, 154, 154, 0.486);
    }
}