.btnSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    background-color: #000000ba;
    padding: 1em;
    border-radius: 0.4em;
    position: relative;
    height: fit-content;
    width: 8em;

    .ability {
        display:flex;
        flex-direction: column;
        gap:0.5em;
        color: #fff;
        align-items: center;

        .abilityTitle {
            font-size: 0.75rem;
            letter-spacing: 0.1rem;
        }

        .abilityPoints {
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            align-items: center;
            padding: 0.5em;
            width: 2em;
            height: 2em;
            background-color: #91919159;
            border-bottom-left-radius: 0.4em;
            border-top-right-radius: 0.4em;
        }

        .abilityModifier {
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            align-items: center;
            padding: 0.5em;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            background-color: #91919159;
            border: 0.2em double #fff;
        }
    }

    .buttonContainer {
        display: flex;
        gap: 1em;
        flex-direction: row;

        .abilityButton {
            display: flex;
            width: 2em;
            height: 2em;
            border-radius: 0.4em;
            background-color: #000;
            border: 0.2em double rgba(255, 255, 255, 0.4901960784);
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease-out;

            &:hover {
                background-color: #545454
            }
        }
    }
    
}