@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.startGame {
    background-image: url('@assets/images/loadingScreen.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 999;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.loadingScreen {
    background-image: url('@assets/images/loadingScreen.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 999;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;

    .celticImg {
        width: 26em;
        position: fixed;
        z-index: -1;
        transform: translate(0, -4em);
        filter: brightness(0.5);
    }

    h1 {
        width: 100%;
        text-align: center;
        position: relative;
        margin: 0 0 0 0;
        letter-spacing: 0.1rem;
        font-size: 4.4rem;
        font-weight: 400;
        text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.655);
        font-family: 'MedievalSharp',
            cursive;
    }

    p {
        font-size: 1.4rem;
        text-shadow: 0 0 0.1em #000;
        font-weight: 600;
    }

    .tip {
        font-size: 1.1rem;
        text-shadow: 0 0 0.1em #000;
        font-weight: 600;
        position: absolute;
        bottom: 2em
    }
}