.interface {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    box-shadow: inset 0 0 30em 2em #000;

    .img {
        max-width: 10em;
        width: 100%;
        height: 10em;
        background-color: #000;
        border-radius: 50%;
        overflow: hidden;
        border: 0.1em solid #fff;
        box-shadow: 0 0 1em 0.5em #00000080;
        position: absolute;
        left: 1em;
        top: 1em;

        img {
            width: 100%;
        }
    }

    .heroName {
        position: absolute;
        left: 1em;
        top: 12em;
    }

    .coords {
        position: absolute;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
    }

    .experience {
        position: absolute;
        top: 15em;
        left: 1em;
    }

    .dps {
        position: absolute;
        top: 16.5em;
        left: 1em;
    }

    .stats{
        display: flex;
        gap: 1em;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
        .str, .int, .dex {
            background-color: #fff;
            color: #000;
            padding: 0 0.5em;
        }

        .btnSection {
            display: flex;
            align-items: center;
        }

        .gainBtn {
            width: 2em;
            height: 2em;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                cursor: pointer;
                background-color: rgba(154, 154, 154, 0.486);
            }
        }

    }

    .playerWeapon {
        width: 38em;
        position: absolute;
        bottom: 3%;
        left: 69%;
        transform: translate(-50%, 0) rotate(-88deg);
        z-index: 2;
        
        img {
            width: 100%;
        }
        
    }

    .swing {
        animation: swing 0.5s ease-in-out;
    }

    @keyframes swing {
        0%{
            transform: translate(-50%, 0) rotate(-88deg);
        }

        25%{
            transform: translate(-50%, 0) rotate(-51deg);
        }

        50% {
            transform: translate(-50%, 0) rotate(-103deg);
        }

        100% {
            transform: translate(-50%, 0) rotate(-88deg);
        }

    }

}
