body {
    color: white;
    background-color: #fff;
    overflow: hidden;
    height: 100vh;
    position: relative;
    margin:0;
}

main {
    display: flex;
    height: 100%;
    position: relative;
}

h1 {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 3em 0 0 0;
    letter-spacing: 0.1rem;

    img {
        z-index: -1;
        margin: 0 auto;
    }
    
    p {
        transform: translate(0, -3.7em);
    }
}

/*.content {
    grid-row: 1;
    grid-column: 2 / span 3;
}*/

/*.container {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}*/

/*.hero {
    background-color: blue;
    width: 15em;
    height: 20em;
}*/

.img {
    max-width: 10em;
    width: 100%;

    img {
        width: 100%;
    }
}

.hide{
    display:none !important;
}

.gainBtn:disabled {
   cursor: no-drop !important;
}

.fadeOut {
    animation: fadeOut 8s ease-in-out forwards;

    @keyframes fadeOut {
        to{
            opacity: 0;
        }
    }
}

.music {
    z-index: 2;
    width: 5em;
    height: 5em;
    padding: 1em;
    background-color: #aab9c1;
    border: 0.3em solid #4c575c;
    border-radius: 50%;
    position: fixed;
    left: 2em;
    bottom: 2em;

    &:hover{
        cursor: pointer;
    }

    img {
        width:100%;
    }
}