dialog[open]:not(:modal) {
    z-index: 2;
    transform-style: preserve-3d;
}

dialog[open]:not(:modal):before {
    content: "";
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    background: hsl(0 0% 10% / 0.25);
    transform: translate3d(-50%, -50%, -1px);
}

dialog {
    padding: 1em;
    gap: 1em;
    background: rgba(0, 0, 0, 0.326);
    border: 0.4em double #fff;
    border-radius: 0.5em;
    color: white;

    h2 {
        font-size: 1.5rem;
        letter-spacing: 0.05em;
    }

    p {
        font-size: 1.1rem;
        letter-spacing: 0.1em;
    }
}

dialog::backdrop {
    background: hsl(0 0% 10% / 0.8);
}

dialog[open] {
    display: grid;
}