@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&display=swap');

@import './styles/reset.scss';

@import './styles/scrollbar.scss';

@import './styles/base.scss';

@import './styles/classes.scss';

@import './styles/animation.scss';

@import './styles/utilities.scss';

@import './styles/grid_flex.scss';

.boxMenuContainer {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    background-color: rgba(0, 0, 0, 0.502);
    background-image: url('@assets/images/backgrounds/menu.jpg'), linear-gradient(0deg, rgba(21, 11, 11, 0.8) 0%, rgb(55, 54, 54) 50%, rgba(0, 0, 0, 0.8) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
}