.protagonistContainer {
    background-color: rgba(0, 0, 0, 0.502);
    background: linear-gradient(0deg, rgb(21 11 11 / 80%) 0%, rgb(55 54 54) 50%, rgb(0 0 0 / 80%) 100%);
    position: fixed;
    left: 3em;
    top: 0;
    max-width: 25em;
    width: 100%;
    height: 100vh;
    display: flex;
    border-left: 5px double rgba(77, 77, 77, 0.4);
    border-right: 5px double rgba(77, 77, 77, 0.4);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1em;

    @keyframes fadeIn {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }

    .fadeIn {
        animation: fadeIn 3s ease-in forwards;
    }

    .celticImg {
        width: 5em;
        position: fixed;
        left: 5em;
        top: 2%;
        height: auto;
    }

    h1 {
        position: fixed;
        left: 4.5em;
        top: 0.6em;
        margin: 0;
        text-shadow: 0 0 0.1em rgb(0 0 0);
        font-size: 3rem;
        text-align: left;
    }

    .box {
        display: flex;
        gap: 2em;
        flex-direction: column;
        align-items: center;
        position: fixed;

        .list {
            min-width: 25em;
            width: 100%;
            height: 33em;
            overflow-y: auto;
            overflow-x: hidden;

            .createWindow {
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                overflow: hidden;

                label {
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: #fff;
                    margin: 1em 0 0.5em -8.5em;
                }

                .goBack_characterWindow {
                    position: absolute;
                    width: 3em;
                    height: 3em;
                    border-radius: 50%;
                    left: 0;
                    top: 0;
                    display:flex;
                    align-items: center;
                    justify-content: center;

                    &::before{
                        content: '<';
                        font-weight: 600;
                        font-size: 1.2rem;
                    }
                }

                input {
                    width: 15em;
                    padding: 0.5em;
                }

                .avatars {
                    display:flex;
                    gap: 1em;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 2em;

                    .button {
                        position: relative;
                        width: 6em;
                        height: 6em;
                        overflow: hidden;
                        background-color: #545e63;
                        border: 0.2em solid #bdc8cf;

                        &:hover {
                            cursor: pointer;
                            background-color:#bdc8cf; 
                            border: 0.2em solid #545e63;
                        }

                    }

                    img {
                        position: absolute;
                        left: -3.5em;
                        top: -0.5em;
                        width: 13em;
                    }
                }

                .stats{
                    display: flex;
                    flex-direction: column;
                    width: 15em;
                    align-items: center;
                    
                    .showPoints {
                        color: #fff;
                        position: absolute;
                    }

                    .str, .int, .dex {
                        color: #fff;
                        padding: 0.2em 0.5em;
                    }

                    .btnSection {
                        display: flex;
                        align-items: center;
                    }

                    .gainBtn {
                        width: 2em;
                        height: 2em;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            cursor: pointer;
                            background-color: rgba(154, 154, 154, 0.486);
                        }
                    }

                }
            }

            .character{
                background: rgb(112, 35, 35);
                background: linear-gradient(0deg, rgb(55 49 49) 0%, rgb(54 54 54) 50%, rgb(93 70 70) 100%);
                height: 6em;
                color: #fff;
                display: flex;
                flex-direction: column;
                border: 0.6em double #626262;
                border-radius: 0.3em;
                position: relative;
                overflow: hidden;
                margin: 0.3em;
                justify-content: center;

                .levelTitle {
                    font-size: 0.85rem;
                }

                &:hover {
                    cursor: pointer;
                    border: 0.6em double #acbac3;
                    background-color: #bcc7ce;
                }

                h2 {
                    margin-left: 0.5em;
                }

                p {
                    margin-left: 0.5em;
                }

                img {
                    width: 25em;
                    position: absolute;
                    right: -6em;
                    top: -1.8em;
                }
            }
        }
    }

    button {
        max-width: 10em;
        width: 100%;
        background-color: rgb(56 46 46);
        border: 0.3em solid #ffffff;
        border-radius: 0.5em;
        padding: 1em;
        color: #fff;
        letter-spacing: 0.1rem;
        margin: 1em;
    
        &:hover {
            background-color: rgb(46, 43, 43);
            cursor: pointer;
        } 
    }

    .createHero{
        max-width: 25em;
        width: 100%;
        background-color: rgb(56, 46, 46);
        background: linear-gradient(0deg, rgb(55, 49, 49) 0%, rgb(54, 54, 54) 50%, rgb(93, 70, 70) 100%);
        border: 0.4em double #626262;
        border-radius: 0.5em;
        padding: 1em;
        color: #fff;
        letter-spacing: 0.1rem;
        position: fixed;
        bottom: 3%;
    
        &:hover {
            background-color: rgb(46, 43, 43);
            cursor: pointer;
        } 
    
    }
    
}

.chooseAvatar {
    box-shadow: 0 0 2em #000;
}